<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}AC6{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ac6/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">パーツ構成登録</a></li>
                <li><a href="{% url 'search' %}">パーツ構成検索</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>